.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

/* Header */
.header {
  display: grid;
  grid-template-rows: 160px 1fr 165px;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  padding-bottom: 0;
  position: relative;
}

.header__theme-menu {
  grid-row: 1 / 2;
  justify-self: center;
  align-self: end;
  width: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__title {
  grid-row: 2 / 3;
  justify-self: start;
  align-self: center;
  margin: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  grid-row: 3 / 4;
  justify-self: end;
  align-self: start;
  font-weight: 700;
  color: var(--text-color);
  padding-right: 5px;
}

.header__theme-menu-button {
  padding: 3px 13px;
  text-transform: lowercase;
  line-height: 100%;
  color: var(--header-button-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--header-button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-button-color);
  pointer-events: none
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.header__rec {
  display: var(--display-rec);
  position: absolute;
  width: 52px;
  height: 26px;
  top: 10px;
  right: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

/* Main */
.main {
  padding-left: 10px;
  padding-right: 10px;
}

.section__hard-to-concentrate {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__hard-to-concentrate .cards__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__reduces-concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.reduces-concentration__title {
  max-width: 100%;
}

.section__reduces-concentration .cards__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__golden-fish {
  display: grid;
  grid-template-columns: 1fr;
  gap: 23px;
}

.section__golden-fish .cards__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;
}

.card__title {
  margin-bottom: 10px;
}

.section__golden-fish .card__item .card__title {
  font-weight: 400;
}

.card__description {
  color: var(--paragraph-color);
  line-height: 23.4px;
}

.section__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-template-areas: 
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
}

.gallery__item:first-child {
  grid-area: sunset;
}

.gallery__item:nth-child(2) {
  grid-area: ice-cream;
}

.gallery__item:nth-child(3) {
  grid-area: books;
}

.gallery__item:nth-child(4) {
  grid-area: street;
}

.gallery__item:nth-child(5) {
  grid-area: tape;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
  height: 100vh;
  position: relative;
}

.footer__title {
  justify-self: center;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
}

@media (min-width: 576px) {
  .header {
    grid-template-rows: 284px 1fr 300px;
    padding: 0px 20px;
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: normal;
    margin-left: -20px;
    margin-top: 15px;
  }

  .header__description {
    max-width: 365px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 30px;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section__hard-to-concentrate {
    margin-top: 60px;
  }

  .section__reduces-concentration,
  .section__golden-fish,
  .section__gallery {
    margin-top: 80px;
  }

  .section__hard-to-concentrate,
  .section__golden-fish {
    grid-template-columns: 235px 1fr;
  }

  .reduces-concentration__title {
    max-width: 235px;
  }

  .section__reduces-concentration .cards__list {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .gallery__item:first-child {
    max-height: 192px;
  }

  .gallery__item:nth-child(3) {
    max-height: 230px;
  }

  .gallery__item:nth-child(4) {
    max-height: 318px;
  }

  .footer {
    margin-top: 60px;
  }
}

@media (min-width: 769px) {
  .header {
    grid-template-rows: 185px 1fr 205px;
    padding-top: 20px;
  }

  .header__title {
    margin-top: 0px;
  }

  .header__theme-menu {
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__description {
    max-width: 491px;
  }

  .section__hard-to-concentrate {
    margin-top: 60px;
  }

  .section__reduces-concentration,
  .section__golden-fish,
  .section__gallery {
    margin-top: 80px;
  }

  .section__hard-to-concentrate,
  .section__golden-fish {
    grid-template-columns: 315px 1fr;
  }

  .reduces-concentration__title {
    max-width: 315px;
  }

  .section__reduces-concentration .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    gap: 20px;
  }

  .gallery__item:first-child {
    max-height: 260px;
  }

  .gallery__item:nth-child(3) {
    max-height: 315px;
  }

  .gallery__item:nth-child(4) {
    max-height: 433px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}