:root {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #ffedf5;
  --header-button-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --header-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --paragraph-color: #353430;
  --display-rec: none;
  --decorated-color: #353430;
}
